html {
    background: #00031b;
    
    @media screen and (min-width:1178px){
        scroll-snap-type: y mandatory;
        scroll-padding-top: 8vh;
    }
}

/* whole scrollbar css */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff50;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f50057;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f50057;
}
