html {
  background: #141414;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100px;
}

/* Handle */
::-webkit-scroll-thumb {
  border-radius: 15px;
  background: #2a2e35;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #141414;
}

// ::-webkit-scrollbar {
//     width: 8px;
//     border-radius:50px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//     background: #f1f1f1;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//     background: rgb(185, 185, 185);
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//     background: #888;
// }
